<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socialize | Home</title> 
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!---->
    <link rel="stylesheet" href="../view/public/index.css">
</head>
<body>
<!--Navigation section-->
    <nav>
        <div class="container">
            <h2 class="log">
                Socialize
            </h2> 
            
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search for other users"> 
            </div>
            <div class="rank">
                <label class="btn btn-primary" for="#">Rank</label>

                <div class="profile-picture">
                    <img src="../view/images/person1.jpg" alt="">
                </div>
            </div>
        </div>
    </nav>
    <!--Navigation section end-->

    <!--Main section -->
        <main>
            <div class="container">
                <!--Left-->
                <div class="left">
                    <!--Profile-->
                    <a href="#" class="profile">
                        <div class="profile-picture">
                            <img src="../view/images/person1.jpg" alt="">
                        </div>
                        <div class="handle">
                            <h4>Jackie Chan</h4>
                            <p class="text-muted">
                                @super_jackie
                            </p>
                        </div>
                    </a>
                    <!--Profile end-->

                    <!--Sidebar-->
                    <div class="sidebar">
                        <a class="menu-item active">
                            <span><i class="fa fa-home"></i></span> <h3>Home</h3>
                        </a>

                        <a class="menu-item" id="notification">
                            <span><i class="fa fa-bell"><small class="notification-count">9+</small></i></span> <h3>Activity</h3>
                            <!--Notification popup-->
                            <div class="notification-popup">
                                <div>
                                    <div class="profile-picture">
                                        <img src="../view/images/person2.jpg" alt="">
                                    </div>
    
                                    <div class="notification-body">
                                        <b>Jet Li</b> commented on your post
                                        <small class="text-muted">13 MINUTES AGO</small>
                                    </div>
                                </div>

                                <div>
                                    <div class="profile-picture">
                                        <img src="../view/images/person3.png" alt="">
                                    </div>
    
                                    <div class="notification-body">
                                        <b>Keanu Reeves</b> commented on your post
                                        <small class="text-muted">13 MINUTES AGO</small>
                                    </div>
                                </div>
                                                                
                            </div>
                        </a> 

                        <a class="menu-item">
                            <span><i class="fa fa-palette"></i></span> <h3>Theme</h3>
                        </a>

                        <a class="menu-item">
                            <span><i class="fa fa-gear"></i></span> <h3>Settings</h3>
                        </a>
                    </div>
                    <!--Sidebar end-->

                    <!--Button under sidebar-->
                    <label for="create-post" class="btn btn-primary">
                        Create Post
                    </label>
                    <!--Button under sidebar end-->

                </div>
                <!--Left end-->

                <!--Middle-->
                <div class="middle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nihil eum sit asperiores natus porro cumque mollitia exercitationem repellendus. Distinctio esse labore, accusamus id molestias reiciendis optio neque. Voluptates, ipsa.
                </div>
                
                <!--Right-->
                <div class="right">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni aperiam facilis perferendis necessitatibus, obcaecati debitis adipisci error. Dolores, est qui. Ratione, magni. Molestiae perferendis odio hic earum ducimus, omnis fugit.
                </div>
            </div>
        </main>
    <!--Main section end-->
</body>
</html>